<%= form_with model: list, local: true do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: 'form', placeholder:"リスト名" %>
    <% if @list.song_title.present? %>
      <div class="list-table">
        <%= form_with model: @list, class: 'text-light', local: true do  |f| %>
          <table>
          <tr>
            <th class="preview-length">プレビュー</th>
            <th class="song-length">曲名</th>
            <th class="artist-length">アーティスト</th>
            <th class="short">非公開</th>
          </tr>
          <tr>
            <td></td>
            <td><%= @list.song_title %></td>
            <%= f.hidden_field :searchsong_id, value: @list.searchsong_id  %>
            <%= f.hidden_field :song_title, value: @list.song_title  %>
            <td><%= @list.artist %></td>
            <%= f.hidden_field :artist, value: @list.artist  %>
            <td></td>
            <%= render 'crud_menus', list: @list %>
          </tr>
          <tr>
            <td class="icon whale"></td>
          </tr>
          <tr>
            <td class="icon crab"></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </table>
        <% end %>
      </div>
        <%= f.submit "作成", class: 'btn btn-primary register' %>
    <% else %>
      <div class="list-table">
        <table>
        <tr>
          <th class="preview-length">プレビュー</th>
          <th class="song-length">曲名</th>
          <th class="artist-length">アーティスト</th>
          <th class="short">非公開</th>
        </tr>
        </table>
      </div>
    <% end %>
  </div>
<% end %>
