<div class="list_wrapper">
  <ul class="list_header">
    <li class="index1"></li>
    <li class="song_title1">曲名</li>
    <li class="artist1">アーティスト</li>
    <li class="preview1">プレビュー</li>
    <% if current_user.own?(list) %>
      <li class="status1">非公開</li>
      <li class="delete1"></li>
    <% end %>
  </ul>
  <div class="list_content">
        <% if current_user.own?(list) %>
          <% @song.each_with_index do |song, i| %>
            <%= form_with model: [list, song], local: true do |f| %>
              <ul class="list">
                  <li class="index"><%= @number + i + 1 %>.</li>
                  <li class="song_title">
                      <div class="line_height"><span><%= song.song_title %></span></div>
                      <div class="line_height"><span class="mobile_artist"><%= song.artist %></span></div>
                  </li>
                  <li class="artist"><%= song.artist %></li>
                  <li class="preview click"><audio controls controlslist="nodownload" src="<%= song.preview %>"></audio></li>
                  <li class="status"><%= f.check_box :status, {}, "nonrelease", "release" %><%= f.submit "更新", class:"update" %></li>
                  <li class="delete text_red">
                    <%= link_to list_song_path(song.list_id, song.id), class:"text_red", method: :delete, data: { confirm: "「#{song.song_title}」を削除しますか？" } do %>
                      <i class="fa-solid fa-trash"><span class="delete_span">削除</span></i>
                    <% end %>
                  </li>
              </ul>
            <% end %>
          <% end %>
        <% elsif @nonrelease_song.any? %>
          <% @release_song.each_with_index do |release, i| %>
            <ul class="list">
                  <li class="index"><%= i+1 %>.</li>
                  <li class="song_title">
                      <div class="line_height"><span><%= release.song_title %></span></div>
                      <div class="line_height"><span class="mobile_artist"><%= release.artist %></span></div>
                  </li>
                  <li class="artist"><%= release.artist %></li>
                  <li class="preview click"><audio controls controlslist="nodownload" src="<%= song.preview %>"></audio></li>
            </ul>
          <% end %>
        <% else %>
          <% @song.each_with_index do |song, i| %>
          <ul class="list">
                  <li class="index"><%= i+1 %>.</li>
                  <li class="song_title">
                      <div class="line_height"><span><%= song.song_title %></span></div>
                      <div class="line_height"><span class="mobile_artist"><%= song.artist %></span></div>
                  </li>
                  <li class="artist"><%= song.artist %></li>
                  <li class="preview click"><audio controls controlslist="nodownload" src="<%= song.preview %>"></audio></li>
            </ul>
          <% end %> 
        <% end %>

        <% unless @song.any? %>
          <span class="white_text">曲がありません</span>
        <% end %>
  </div>
</div>

<div id="pagenate">
  <%= paginate @song %>
</div>


