<div class="list_wrapper">
  <ul class="list_header">
    <li class="index1"></li>
    <li class="preview1">プレビュー</li>
    <li class="song_title1">曲名</li>
    <li class="artist1">アーティスト</li>
    <% if @user.id == current_user.id %>
      <li class="status1">非公開</li>
      <li class="save1"></li>
      <li class="delete1"></li>
    <% end %>
  </ul>
  <div class="list_content">
        <% if @user.id == current_user.id %>
          <% @song.each_with_index do |song, i| %>
            <%= form_with model: [@list, song], local: true do |f| %>
              <ul class="list">
                  <li class="index"><%= i+1 %>.</li>
                  <li class="preview click"><audio controls controlslist="nodownload" src="<%= song.preview %>"></audio></li>
                  <li class="song_title"><%= song.song_title %></li>
                  <li class="artist"><%= song.artist %></li>
                    <li class="status"><%= f.check_box :status, {}, "nonrelease", "release" %></li>
                    <li class="save"><%= f.submit "保存" %></li>
                    <li class="delete"><%= link_to '削除', list_song_path(song.list_id, song.id), class:"text_red", method: :delete, data: { confirm: "「#{song.song_title}」を削除しますか？" } %></li>
              </ul>
            <% end %>
          <% end %>
        <% elsif @nonrelease_song.any? %>
          <% @release_song.each_with_index do |release, i| %>
            <ul class="list">
              <li class="index"><%= i+1 %>.</li>
              <li class="preview click"><audio controls controlslist="nodownload" src="<%= release.preview %>"></audio></li>
              <li class="song_title"><%= release.song_title %></li>
              <li class="artist"><%= release.artist %></li>
            </ul>
          <% end %>
        <% else %>
          <% @song.each_with_index do |song, i| %>
          <ul class="list">
                <li class="index"><%= i+1 %>.</li>
                <li class="preview click"><audio controls controlslist="nodownload" src="<%= song.preview %>"></audio></li>
                <li class="song_title"><%= song.song_title %></li>
                <li class="artist"><%= song.artist %></li>
            </ul>
          <% end %> 
        <% end %>
  </div>

