<% content_for(:title, t('.title')) %>
<% content_for :css do %>
    <%= stylesheet_link_tag 'lists/index' %>
<% end %>


<div class="flex">
  <div class="list">
    <div class="list-head">
      <div>
        <h1><%= List.model_name.human %></h1>
      </div>
      <div class="controls">
        <%= link_to new_list_path do %>
          <div class="button new-button">
            <span><%= t(".new_list") %></span>
          </div>
        <% end %>
        <%= link_to groups_path do %>
          <div class="button new-button">
            <span><%= t(".joined_group") %></span>
          </div>
        <% end %>
      </div>
    </div>
      <% if @lists.size >= 2 %>
        <div class="playlist">
          <%= render 'list_tile' %>
        </div>
      <% elsif @lists.size == 1 %>
      <div class="one_playlist">
        <%= render 'one_tile' %>
      </div>
      <% else %>
        <div class="no_playlist white_text">
          <p><%= t(".not_list") %></p>
        </div>
      <% end %>
  </div>
</div>
<%= javascript_pack_tag 'lists/index' %>