<% content_for(:title, t('.title')) %>
<% content_for :css do %>
    <%= stylesheet_link_tag 'lists/index' %>
<% end %>


<div class="new">
  <%= link_to new_list_path do %>
    <div class="button new-button new-list">
      <span>新しくリストを作成する</span>
    </div>
  <% end %>
  <%= link_to groups_path do %>
    <div class="button new-button new-list">
      <span>参加しているグループ</span>
    </div>
  <% end %>
</div>

<div class="flex">
  <div class="list">
    <div class="list-wrapper">
      <div class="list-head">
        リスト一覧
      </div>
      <div class="playlist">
        <% if @lists.present? %>
          <% @lists.each do |list| %>
            <% if current_user.own?(list) %>
              <%= render list %>
            <% end %>
          <% end %>
        <% else %>
          <p><%= t('リストがありません') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
