<% content_for(:title, t('.title')) %>
<% content_for :css do %>
    <%= stylesheet_link_tag 'lists/index' %>
<% end %>

<div class="new">
  <%= link_to new_list_path do %>
    <div class="button new-button new-list">
      <span><%= t(".new_list") %></span>
    </div>
  <% end %>
  <%= link_to groups_path do %>
    <div class="button new-button new-list">
      <span><%= t(".joined_group") %></span>
    </div>
  <% end %>
</div>

<div class="flex">
  <div class="list">
    <div class="list-head">
      <%= List.model_name.human %>
    </div>
    <div class="playlist">
      <% if @lists.present? %>
        <%= render 'list_tile' %>
      <% else %>
        <p><%= t(".not_list") %></p>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'lists/index' %>