<% content_for(:title, t('.title')) %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'lists/show' %>
<% end %>

<div class="list_form">
  <div class="rrr">
    <div class="white_text">
    <font class="name_list"><%= t('defaults.list_name') %></font>
      <%= form_with model: @list, class:"text_center", local: true do |f| %>
        <div class="list_title"><%= @list.name %></div>
        <% if @user.id == current_user.id %>
          <div class="list_change">
            <%= link_to t('.change_list_name'), edit_list_path(@list), class:"btn change btn_cubic btn_radius btn_back" %>
          </div>
          <div class="add">
            <%= link_to t('.add_song'), new_list_song_path(@list.id), class:"btn change btn_cubic btn_radius btn_back" %>
          </div>
        <% else %>
          <div class="list_change">
            <%= link_to t('.back_to_group'), :back, class:"btn change btn_cubic btn_radius btn_back" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



<%= render "list_table" %>

<div class="text_right">
  <%= link_to t('defaults.home'), lists_path, class:'back_home' %>
  <%= link_to t('defaults.group_list'), groups_path, class:'back_group' %>
  <% if @user.id == current_user.id %>
    <%= link_to t('.delete_list'), list_path(@list.id),class:"text_red", method: :delete, data: { confirm: "このリストを削除しますか？" } %>
  <% end %>
</div>

