# <% content_for :css do %>
#   <%= stylesheet_link_tag 'another/sign_up' %>
# <% end %>

# <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
# <div class="wrapper">
#     <div class="login_text">
#       <%= f.submit "ログイン", class:"login_btn" %>
#     </div>
#     <%= image_tag "LINE_icon.png", class:"line_icon" %>
#     <%- if devise_mapping.omniauthable? %>
#       <%- resource_class.omniauth_providers.each do |provider| %>
#         <%= link_to omniauth_authorize_path(resource_name, provider), method: :post do %>
#           <button class="btn line_btn">LINE</button>
#         <% end %><br />
#       <% end %>
#     <% end %>
#     <%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワード", class:"password_text" %>
#     <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス", class:"email_text" %>
#     <span class="or_text">or</span>
#     <span class="new_text">はじめての方はこちら</span>
#     <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
#       <%= link_to "パスワードを忘れた方", new_password_path(resource_name), class:"forget_text" %><br />
#     <% end %>
#     <div class="underline">
#     </div>
#     <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
#       <%= link_to new_registration_path(resource_name), class:"register_text" do %>
#         <button class="btn register_btn">新規登録</button>
#       <% end %><br />
#     <% end %>
#     <%= image_tag "mail_icon.png", class:"email_icon" %>
#     <%= image_tag "key_icon.png", class:"key_icon" %>
#     <% if devise_mapping.rememberable? %>
#     <div class="remember_me">
#       <%= f.check_box :remember_me %>
#       <%= f.label :remember_me, "ログイン情報を保存する" %>
#     </div>
#     <% end %>
# </div>
# <% end %>
