<% content_for :css do %>
  <%= stylesheet_link_tag 'another/sign_up' %>
<% end %>

<%= render "shared/error_messages", resource: resource %>
<div class="text_align z_index2">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h1 class="white_text">ログイン</h1>

  <div class="white_text block">
    <%= f.label :email, class:"" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス", class:"email_text" %>
    <%= f.label :password, class:"" %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"パスワード", class:"password_text" %>
    <%= f.submit "ログイン", class:"login" %>
  </div>

  <div class="white_text">
    新規登録は<%= link_to "こちら", new_user_registration_path %>
  </div>
  <% end %>
</div>
