<% content_for(:title, t('.title')) %>
<% content_for :css do %>
    <%= stylesheet_link_tag 'list_groups/edit' %>
<% end %>

<div class="wrapper">
  <div class="title_wrapper">
    <h1 class="white_text text_center head"><%= t(".title") %></h1>
  </div>

  <div class="content_wrapper white_text text_center">
    <div class="name_wrapper">
      グループ名：<%= @group.name %>
    </div>

    <%= form_with(model: @list_group, method: :patch, url:"/groups/#{@group.id}/list_groups/#{@list_group.id}", local:true) do |f| %>
      <% if @list_id.present? %>
        <div class="share_list">
          <div class="white_text"><%= t(".select_share_list") %></div>
          <%= f.select :list_id, @list_id.map { |l| [l.name, l.id] } %>
          <%= f.hidden_field :id, :value => params[:id] %>
          <%= f.submit "更新"%>
        </div>
      <% else %>
        <div class="white_text"><%= t(".not_select_share_list") %></div>
      <% end %>
    <% end %>
  </div>


  <div class="list_change">
    <%= link_to t('.not_update'), :back, class:"btn change btn_cubic btn_radius btn_back" %>
  </div>
</div>
