<% content_for :css do %>
  <%= stylesheet_link_tag 'groups/index' %>
<% end %>

<div class="song">
  <div class="center">
    <% if group.user_ids.any? { |id| id == current_user.id } %>
      <%= link_to group_path(group) do %>
        <%= group.name %>
      <% end %>
    <% else %>
      <%= link_to select_group_path(group) do %>
        <%= group.name %>
      <% end %>
    <% end %>
  </div>
</div>