<table class="table">
  <tr class="white_text tr_top">
    <th class="th_top user"><%= User.human_attribute_name(:name) %></th>
    <th class="th_top date"><%= GroupUser.human_attribute_name(:created_at) %></th>
    <th class="th_top list"><%= ListGroup.human_attribute_name(:name) %></th>
    <% if @leader.user_id == current_user.id %>
      <th class="th_top destroy"></th>
    <% end %>
  </tr>
  <% @members.zip(@group_user).each do |member, group_user| %>
    <tr class="white_text">
    <td scope="row"><%= member.name %></td>
    <td><%= show_date(@group.created_at)  %></td>
    <% @list.each do |list| %>
      <% if member.id == list.user_id %>
          <td><%= link_to list.name,list_path(list) %>
          </td>
          <% if current_user.own?(@leader) %>
            <div class="delete_btn">
              <% unless current_user == member %>
                <td><%= link_to t('defaults.destroy'), group_group_user_path(group_user.group_id, group_user.id), class:"text_red side", method: :delete , data: { confirm: "メンバーをグループから削除しますか？" } %></td>
              <% end %>
            </div>
          <% end %>
      <% end %>
    <% end %>
    </tr>
  <% end %>
</table>



