<% content_for(:title, t('.title')) %>
<% content_for :css do %>
    <%= stylesheet_link_tag 'groups/index' %>
<% end %>

<div class="space"></div>

<div class="new">
  <%= link_to new_group_path do %>
    <div class="button new-button">
      <span><%= t(".new_group") %></span>
    </div>
  <% end %>
</div>

<div class="flex">
  <div class="group">
      <div class="group-head">
        <%= t("defaults.group_list") %>
      </div>
      <div class="grouplist">
        <% if @group_user.present? %>
          <%= render "group" %>
        <% else %>
          <h3 class="white_text">グループがありません</h3>
        <% end %>
      </div>
  </div>
</div>

<div class="new2">
  <%= link_to new_group_path do %>
    <div class="button new-button">
      <span><%= t(".new_group") %></span>
    </div>
  <% end %>
</div>
