<% content_for(:title, t('.title')) %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'groups/show' %>
<% end %>

<div class="flex name_head white_text">
  <div class="name_wrapper">
      <small class="label"><%= t("defaults.group_name") %></small>
    <div class="end_align">
      <div class="name">
        <%= simple_format(@group.name) %>
      </div>
      <%= link_to edit_group_path(@group), class:"edit" do %>
        <button class="btn-primary">グループ名変更</button>
      <% end %>
    </div>
  </div>

  <div class="readmore over_view">
      <p class="white_text head_text"><%= t(".description") %></p>
      <input id="check1" class="readmore-check" type="checkbox">
      <div class="readmore-content white_text description">
        <%= simple_format(@group.description) %>
      </div>
      <label class="readmore-label" for="check1"></label>
  </div>
</div>

<div class="flex">
  <div class="group">
    <div class="group-head">
      <%= t(".member") %>
    </div>
    <div class="grouplist">
      <%= render partial:"member" %>
    </div>
    <div class="text_center">
      <p class="white_text">↓メンバーを招待する場合はこちら↓</p>
      <% if Rails.env.production? %>
        <div class="line-it-button text_center" data-lang="ja" data-type="share-a" data-env="REAL" data-url="http://www.playlist-karalis.com/groups/<%= @group.hashid %>/select" data-color="default" data-size="large" data-count="false" data-ver="3" style="display: none;"></div>
          <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
      <% else %>
        <div class="line-it-button text_center" data-lang="ja" data-type="share-a" data-env="REAL" data-url="http://localhost:3000/groups/<%= @group.hashid %>/select" data-color="default" data-size="large" data-count="false" data-ver="3" style="display: none;"></div>
          <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
      <% end %>
    </div>
    <div class="leave">
      <% if @group.users.include?(current_user) %>
        <%= link_to t(".leave"), group_path(@group.id), class:"text_red", method: :delete, data: { confirm: "退会しますか？" }  %>
      <% end %>
      <% if @leader.user_id == current_user.id %>
        <%= link_to t(".delete"), group_destroy_group_path(@group.id),class:"text_red", method: :delete, data: { confirm: "グループを削除しますか？" } %>
      <% end %>
    </div>
  </div>
</div>

<div class="white_text board text_center">
  <h2>コミュニケーションボード</h2>

  <div id="scroll-inner", class="content_size">
    <% @comments.each_with_index do |comment, i| %>
      <div class="bubble comment_text">
        <p class="comment_name"><%= "#{i+1}: " %><%= comment.user.name %>さん
          <font class="comment_date"><%= show_at(comment.created_at) %></font>
        </p>
        <%= simple_format(comment.content, { class: 'comment_content' }) %>
        <% if current_user.own?(comment) %>
          <p class="comment_delete"><%=link_to "削除", group_comment_path(comment.group.id, comment.id), method: :delete %></p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="comment_form">
    <%= form_with(model: [@group, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= f.hidden_field :group_id, value: @group.id %>
      <%= f.submit 'コメントする', class:"comment_btn" %>
    <% end %>
  </div>
</div>



<div class="list_change">
  <% @list.each do |list| %>
    <% if current_user.own?(list) %>
      <%= link_to "共有リスト変更", edit_group_list_group_path(@group, @list_group), class:"btn change btn_cubic2 btn_radius btn_back" %>
    <% end %>
  <% end %>
  <% unless @my_list.present? %>
    <%= link_to "共有リストを登録", new_group_list_group_path(@group), class:"btn change btn_cubic2 btn_radius btn_back" %>
  <% end %>
</div>


<div class="controls2">
  <% @list.each do |list| %>
    <% if list.user_id == current_user.id %>
      <%= link_to edit_group_list_group_path(@group, ListGroup.find_by(list_id: @my_list.id, group_id: @group).id) do %>
        <div class="button new-button">
          <span><%= "共有リスト変更" %></span>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% unless @list.any? {|u| u.user_id == current_user.id} %>
    <%= link_to new_group_list_group_path(@group) do %>
      <div class="button new-button">
        <span><%= "共有リスト登録" %></span>
      </div>
    <% end %>
  <% end %>
  <%= link_to edit_group_path(@group) do %>
    <div class="button new-button">
      <span><%= "グループ名変更" %></span>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag 'groups/index' %>