<% content_for(:title, t('.title')) %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'groups/show' %>
<% end %>

<div class="readmore over_view">
    <p class="white_text head_text">このグループについて</p>
    <input id="check1" class="readmore-check" type="checkbox">
    <div class="readmore-content white_text description">
      <%= simple_format(@group.description) %>
    </div>
    <label class="readmore-label" for="check1"></label>
</div>

<p class="name_title white_text">グループ名</p>
<div class="white_text name"><%= simple_format(@group.name) %></div>

<div class="flex">
  <div class="group">
    <div class="group-head">
      メンバー
    </div>
    <div class="grouplist">
      <%= render partial:"member" %>
    </div>
    <div class="leave">
      <% if @group.users.include?(current_user) %>
        <%= link_to '退会する', group_path(@group.id), class:"text_red", method: :delete %>
      <% end %>
    </div>
  </div>
</div>

<% if @leader.user_id == current_user.id %>
  <%= link_to 'リストを削除', group_destroy_group_path(@group.id),class:"text_red", method: :delete %>
<% end %>

<div class="list_change">
  <%= link_to "グループ一覧へ", groups_path, class:"btn change btn_cubic1 btn_radius btn_back" %>
  <%= link_to "ホームへ", lists_path, class:"btn change btn_cubic2 btn_radius btn_back" %>
</div>


