<header>
  <nav class='navbar navbar-expand-lg navigation navbar-black'>
    <div class="navbar-brand">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', class:"logo", size:"250x64" %>
      <% end %>
    </div>
    <button class='navbar-toggler' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ml-auto main-nav align-items-center'>
        <li class='nav-item ml-5 dropdown dropdown-slide'>
          <%= link_to "使用方法", root_path(anchor: 'how'), class:'text-color use_menu' %>
        </li>

        <li class='nav-item ml-5'>
          <%= link_to (t 'defaults.register'), new_user_registration_path, class: 'nav-link text-color' %>
        </li>

        <li class='nav-item ml-5'>
          <%= link_to (t 'defaults.login'), new_user_session_path, class: 'nav-link text-color' %>
        </li>
      </ul>
    </div>
  </nav>
</header>
