<header>
  <nav class='navbar navbar-expand-lg navigation navbar-black'>
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo.png', class:"logo" %>
    <% end %>
    <button class='navbar-toggler' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ml-auto main-nav align-items-center'>
        <li class='nav-item dropdown dropdown-slide'>
          <a href='#' class='text-color use_menu'>
            使用方法
          </a>

          <a href='#' class='menu dropdown-toggle text-color ml-5' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            メニュー
          </a>

          <div class='dropdown-menu dropdown-menu-right'>
            <%= link_to (t 'defaults.mylist'), lists_path, class: 'dropdown-item' %>
            <%= link_to (t 'defaults.make_group'), '#', class: 'dropdown-item' %>
            <%= link_to (t 'defaults.mypage'), '#', class: 'dropdown-item' %>
            <%= link_to (t 'defaults.logout'), destroy_user_session_path, method: :delete, class: 'dropdown-item logout' %>
          </div>
        </li>
        
      </ul>
    </div>
  </nav>
</header>
