<header>
  <nav class='navbar navbar-expand-lg navigation navbar-black'>
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo.png', class:"logo" %>
    <% end %>
    <button class='navbar-toggler' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ml-auto main-nav align-items-center'>
        <li class='nav-item dropdown dropdown-slide'>
          <a href='#' class='nav-link dropdown-toggle text-color' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            使用方法
          </a>

          <div class='dropdown-menu dropdown-menu-right'>
            <%= link_to '掲示板一覧', '#', class: 'dropdown-item' %>
            <%= link_to '掲示板作成', '#', class: 'dropdown-item' %>
          </div>
        </li>

        <li class='nav-item'>
          <%= link_to '無料会員登録', '#', class: 'nav-link text-color', "data-toggle": "modal", "data-target": "#signUpModal" %>
        </li>

        <li class='nav-item'>
          <%= link_to 'ログイン', '#', class: 'nav-link text-color', "data-toggle": "modal", "data-target": "#loginModal" %>
        </li>
        
        <li class='nav-item'>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete  %>
        </li>
      </ul>
    </div>
  </nav>
</header>
