<% content_for :css do %>
  <%= stylesheet_link_tag 'lists/show' %>
<% end %>

<div class="list_content">
    <% @song.each do |song| %>
      <%= form_with model: [@list, song], local: true do |f| %>
        <ul class="list">
            <li class="song_title white_text"><%= song.song_title %></li>
            <%= f.check_box :status, {}, "nonrelease", "release" %>
            <%= f.submit %>
        </ul>
      <% end %>
    <% end %>
  </div>