<% content_for(:title, t('.title')) %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'lists/search' %>
<% end %>

<div class="search">
    <div class="form1">
    <%= form_with url: new_list_song_path(@list.id), method: :get, html: { id: "search_validate" }, local: true do |form| %>
      <%= form.text_field :search, placeholder:t('.search_song'), value:params[:search], class:"validate[required]" %>
      <%= form.submit t('.search'), name: nil %>
    <% end %>
    </div>
</div>
<h1><%= t('.result') %></h1>

  <div class="song-title">
      <% if @searchsongs.present? %>
          <% @searchsongs.each do |searchsong| %>
          <div class="result">
            <div class="spotify white_text">
              <iframe src="https://open.spotify.com/embed/track/<%= searchsong.id %>" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
              <%= image_tag "#{searchsong.album.images[0]['url']}" %>
            </div>
            <%= form_with model: @song, url: list_songs_path, class: 'text-light', local: true do  |f| %>
              <%= f.hidden_field :song_title, value: searchsong.name %>
              <%= f.hidden_field :artist, value: searchsong.artists[0].name %>
              <%= f.hidden_field :preview, value: searchsong.preview_url %>
              <%= f.hidden_field :image, value: searchsong.album.images[0]['url'] %>
              <%= f.submit "追加", class:"add_btn" %>
            <% end %>
          </div>
          <% end %>
      <% end %>
  </div>