<% content_for(:title, t('devise.password_title')) %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'users/password' %>
<% end %>

<div class="space"></div>

<div class="wrapper">
  <div class="container">
    <h1 class="white_text a"><%= t('devise.password_title') %></h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group white_text email">
      <p class="description">ご入力いただいたメールアドレスに再設定用のリンクをお送りいたします</p>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス", class:"email_text" %><br />
      <div class="send_btn"><%= f.submit "送信", class:"btn btn-primary" %></div>
    </div>
    <% end %>
  </div>
</div>

<div class="white_text to_login text_center">
  <%= link_to "ログインページへ", new_user_session_path, class:"login_btn" %>
  <%= link_to "新規登録ページへ", new_user_registration_path, class:"new_btn" %>
</div>