<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag('favicon.ico') %><%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <header>
        <% if user_signed_in? %>
          <%= render 'shared/header' %>
        <% else %>
          <%= render 'shared/before_login_header' %>
        <% end %>
      </header>
      <main>
        <%= yield %>
      </main>
      <footer>  
        <%= render 'shared/footer' %>
      </footer>
    <script type="text/javascript">
      jQuery(document).ready(function(){
        jQuery("#validate_id, #login_validate, #name_validate, #search_validate, #edit_validate").validationEngine();
      });
    </script>
  </body>
</html>
