<!DOCTYPE html>
<html>
  <head>
    <title>Karalis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <body>
<script type="text/javascript">
jQuery(document).ready(function(){
  jQuery("#validate_id").validationEngine();
});
jQuery(document).ready(function(){
  jQuery("#login_validate").validationEngine();
});
</script>
</body>
  </body>
</html>
