<% content_for :css do %>
  <%= stylesheet_link_tag 'users/registrations' %>
<% end %>

<div class="text_align z_index2">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <h1 class="white_text">新規ユーザー登録</h1>

  <div class="white_text block">
    <%= render "shared/error_messages", resource: resource %>
    <%= f.label :name, class:"" %>
    <%= f.text_field :name, autofocus: true, autocomplete: "user-name", placeholder:"ユーザーネーム", class:"name_text" %>
    <%= f.label :email, class:"" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス", class:"email_text" %>
    <%= f.label :password, class:"" %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"パスワード", class:"password_text" %>
    <%= f.label :password_confirmation, class:"" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"パスワード確認", class:"password2_text" %>
    <%= f.submit "登録", class:"registration" %>
  </div>
  <% end %>
  <div class="white_text">
    登録済みの方は<%= link_to "こちら", new_user_session_path %>
  </div>

</div>
